@using RB444.Model.ViewModel
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<h4 class="card-title mb-1">Welcome to RB444! 👋</h4>
<p class="card-text mb-2">Please Login to your account and start the adventure</p>
<p style="color:red;display:none;" id="errorMsg"></p>
<form id="account" method="post" class="auth-login-form mt-2">  
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="text" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group" >
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group" >
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Log in</button>
</form>