﻿@using RB444.Models.Model
@using RB444.Data.Entities
@model RegisterViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        @{
            int i = 0;
            var user = ViewBag.LoginUser;
            List<Users> usersList = ViewBag.Users;
            foreach (var item in ViewBag.UserRoles)
            {
                @if (user.RoleId <= i && i < 7)
                {
                    <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
                        <div class="card card-custom card-stretch gutter-b">
                            <div class="card-header border-0">
                                <h3 class="card-title font-weight-bolder text-dark" style="font-style:italic;">@item.Name</h3>
                                @if (user.RoleId == i)
                                {
                                    <div class="card-toolbar">
                                        <button type="button" class="btn btn-light btn-sm font-size-sm font-weight-bolder text-dark-75 editRegisterl" id="@i">
                                            Create
                                        </button>
                                    </div>
                                }
                            </div>
                            @if (usersList != null && usersList.Count() >= 0)
                            {
                                var counter = 0;
                                <div class="card-body pt-2">
                                    @foreach (var userData in usersList.Where(x => x.RoleId == (i + 1)))
                                    {
                                        <div class="d-flex align-items-center @(counter++ > 4 ? "hidden" : string.Empty)">
                                            <div class="d-flex flex-column flex-grow-1">
                                                <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg mb-1">@userData.FullName</a>
                                                <span class="text-muted font-weight-bold">5000/@userData.AssignCoin</span>
                                            </div>
                                        </div>

                                        @*@if (usersList.Count() > 5)
                                            {*@
                                        <br />
                                        <a href="/User/RegisterUsersList?id=@(i)" class="font-weight-bold font-size-lg mb-1 show-more-btn">See more...</a>
                                        @*}*@
                                    }
                                    <!--end::Item-->
                                </div>
                            }
                            <!--end::Body-->
                        </div>
                        <!--end:List Widget 4-->
                    </div>
                }
                i++;
            }
        }
    </div>
</div>
<form id="request-form" autocomplete="off" class="" method="post">
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Admin</h5>
                    <button type="button" class="close" onclick="closeModel();">
                        ×
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="error" style="display:none;" id="error"></div>
                        <input type="hidden" class="form-control" id="idModel">
                        <input type="hidden" asp-for="RoleId" value="">
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Email">Email</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="FullName">Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" asp-for="FullName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Password">Password</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="PhoneNumber">Mobile Number</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Mobile Number">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="AssignCoin">Opening Balance</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="AssignCoin" placeholder="Opening Balance">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Commision">Commission(%)</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="Commision" placeholder="Commission(%)">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="ExposureLimit">Exposure Limit</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="ExposureLimit" placeholder="Exposure Limit">
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="RollingCommission">Rolling Commissiom</label>
                            </div>
                            <div class="col-md-8">
                                <input type="checkbox" asp-for="RollingCommission" />
                                <label asp-for="RollingCommission"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" onclick="closeModel();">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="saveRequest();">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section PageJs{
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document.body).on("click", ".editRegisterl", function () {
                var id = $(this).attr('id');
                $("#RoleId").val(parseInt(id) + 1);
                $('#registerModal').modal('show');
            });
        });

        function closeModel() {
            $('#registerModal').modal('hide');
        };
        function saveRequest() {
            const form = document.getElementById("request-form");
            const formData = new FormData(form);

            let addRequestJson = {
                apiUrl: "@Url.Action("Register", "Account")",
                postData: formData
            }

            promiseAjaxPost.call(addRequestJson, false).then(
                (res) => {
                    if (res.IsSuccess && res.Status == 200) {
                        messagePopup.responseSuccess(res.Message).then(
                            (r) => { if (r == true) { location.reload(); } }
                        )
                    } else if (res.IsSuccess && res.Status == 208) {
                        messagePopup.responseWarning(res.Message);
                    } else {
                        messagePopup.responseError(res.Message);
                    }
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
            )
            return false;
        }
        //$(function () {
        //    $("#registerModal button[type=submit]").click(function () {


        //        //debugger;
        //        //var form = $("form");
        //        //var url = "/account/register";
        //        //var postData = form.serialize();
        //        //$(".loader-1.loading-img").show();

        //        //$.post(url, postData, function (data) {
        //        //    $(".loader-1.loading-img").hide();
        //        //    if (data.toLowerCase() == "ok") {
        //        //        toastr.success("User register successfully!");
        //        //        $("#exampleModalLong").modal("hide");
        //        //        window.location.reload();
        //        //    }

        //        //    toastr.error(data);
        //        //});
        //    });
        //});
    </script>
}
