@using RB444.Model.ViewModel
@using RB444.Data.Entities
@model RegisterViewModel
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">

        @for (int i = 1; i < 7; i++)
        {
            //var roleUsers = Model.Users != null && Model.Users.Count() > 0 ? Model.Users.Where(x => x.RoleId == i + 1).ToList() : null;
            List<Users> roleUsers = new List<Users>();
            var roleName = "";
            switch (i + 1)
            {
                case 2:
                    roleName = "Super Admin";
                    break;
                case 3:
                    roleName = "Admin";
                    break;
                case 4:
                    roleName = "Sub Admin";
                    break;
                case 5:
                    roleName = "Super Master";
                    break;
                case 6:
                    roleName = "Master";
                    break;
                case 7:
                    roleName = "User";
                    break;
            }

            <div class="col-lg-6 col-xxl-4 order-1 order-xxl-2">
                <div class="card card-custom card-stretch gutter-b">
                    <div class="card-header border-0">
                        <h3 class="card-title font-weight-bolder text-dark" style="font-style:italic;">@roleName</h3>
                        <div class="card-toolbar">
                            @if (i == i && i < 7)
                            {
                                <button type="button" class="btn btn-light btn-sm font-size-sm font-weight-bolder text-dark-75 editRegisterl">
                                    Create
                                </button>
                            }
                        </div>
                    </div>
                    @if (roleUsers != null && roleUsers.Count() >= 0)
                    {
                        var counter = 0;
                        <div class="card-body pt-2">
                            @foreach (var user in roleUsers)
                            {
                                <div class="d-flex align-items-center @(counter++ > 5 ? "hidden" : string.Empty)">
                                    <div class="d-flex flex-column flex-grow-1">
                                        <a href="#" class="text-dark-75 text-hover-primary font-weight-bold font-size-lg mb-1">@user.FullName</a>
                                        <span class="text-muted font-weight-bold">5000/10000</span>
                                    </div>
                                </div>
                            }

                            @*@if (roleUsers.Count() > 5)
                                {*@
                            <br />
                            <a href="/Home/RegisterUsersList/@(i+1)" class="font-weight-bold font-size-lg mb-1 show-more-btn">See more...</a>
                            @* } *@
                            <!--end::Item-->
                        </div>
                    }
                    <!--end::Body-->
                </div>
                <!--end:List Widget 4-->
            </div>
        }
    </div>
</div>
<form id="request-form" autocomplete="off" class="" method="post">
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Admin</h5>

                    <button type="button" class="close" onclick="closeModel();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="error" style="display:none;" id="error"></div>
                        <input type="hidden" class="form-control" id="idModel">
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Email">Email</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" asp-for="Email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Username">User Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" asp-for="Username" placeholder="User Name">
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Name">Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Commission">Commission(%)</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="Commission" placeholder="Commission(%)">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="AssignCoin">Opening Balance</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="AssignCoin" placeholder="Opening Balance">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="MobileNumber">Mobile Number</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="MobileNumber" placeholder="Mobile Number">
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="ExposureLimit">Exposure Limit</label>
                            </div>
                            <div class="col-md-8">
                                <input type="number" class="form-control" asp-for="ExposureLimit" placeholder="Exposure Limit">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="Password">Password</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
                            </div>
                            <div class="col-md-8">
                                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-between align-items-center mb-75">
                            <div class="col-md-4">
                                <label class="form-label" asp-for="RollingCommission">Rolling Commissiom</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" asp-for="RollingCommission" placeholder="Rolling Commissiom">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-primary font-weight-bold" onclick="closeModel();">Close</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="saveRequest();">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>
@section PageJs{
    <script src="~/js/custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document.body).on("click", ".editRegisterl", function () {
                //_row = $(this).parents("tr");
                //var cols = _row.children("td");
                //$("#idModel").val($(this).attr('data-id'));
                $('#registerModal').modal('show');
            });
        });

        function closeModel() {
            $('#registerModal').modal('hide');
        };
        function saveRequest() {
            const form = document.getElementById("request-form");
            const formData = new FormData(form);

            let addRequestJson = {
                apiUrl: "@Url.Action("Register", "Account")",
                postData: formData
            }

            promiseAjaxPost.call(addRequestJson, false).then(
                (res) => {
                    if (res.IsSuccess && res.Status == 200) {
                        messagePopup.responseSuccess(res.Message).then(
                            (r) => { if (r == true) { location.reload(); } }
                        )
                    } else if (res.IsSuccess && res.Status == 208) {
                        messagePopup.responseWarning(res.Message);
                    } else {
                        messagePopup.responseError(res.Message);
                    }
                },
                (err) => {
                    messagePopup.error(err.statusText);
                }
            )
            return false;
        }
        //$(function () {
        //    $("#registerModal button[type=submit]").click(function () {


        //        //debugger;
        //        //var form = $("form");
        //        //var url = "/account/register";
        //        //var postData = form.serialize();
        //        //$(".loader-1.loading-img").show();

        //        //$.post(url, postData, function (data) {
        //        //    $(".loader-1.loading-img").hide();
        //        //    if (data.toLowerCase() == "ok") {
        //        //        toastr.success("User register successfully!");
        //        //        $("#exampleModalLong").modal("hide");
        //        //        window.location.reload();
        //        //    }

        //        //    toastr.error(data);
        //        //});
        //    });
        //});
    </script>
}
