<div class="container">
    <div class="animated fadeIn hideevent-search">
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="row tabmenu">
                    <ul ngbNav #nav="ngbNav" class="tab inplayTab col3">
                        <li ngbNavItem>
                            <a ngbNavLink>In-Play</a>
                            <ng-template ngbNavContent>
                                <div *ngIf="inplayData && inplayData.length != 0; else inplayDataError">
                                    <div class="inplay-sportwise" *ngFor="let inplayList of inplayData">
                                        <div class="sporthead sporthead0">
                                            <h3>{{inplayList.sportName}}</h3>
                                        </div>
                                        <table class="table table-hover">
                                            <app-table-row [tableRowList]="inplayList.oddsData" [multiMarketPin]="false" class="d-table w-100"></app-table-row>
                                        </table>
                                    </div>
                                </div>
                                <ng-template #inplayDataError>
                                    <div class="p-2">No Data Found.</div>
                                </ng-template>
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>Today</a>
                            <ng-template ngbNavContent>
                                <div *ngIf="todayData && todayData.length != 0; else todayDataError">
                                    <div class="inplay-sportwise" *ngFor="let todayList of todayData">
                                        <div class="sporthead sporthead0">
                                            <h3>{{todayList.sportName}}</h3>
                                        </div>
                                        <table class="table table-hover">
                                            <app-table-row [tableRowList]="todayList.oddsData" [multiMarketPin]="false" class="d-table w-100"></app-table-row>
                                        </table>
                                    </div>
                                </div>
                                <ng-template #todayDataError>
                                    <div class="p-2">No Data Found.</div>
                                </ng-template>
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>Tomorrow</a>
                            <ng-template ngbNavContent>
                                <div *ngIf="tomorrowData && tomorrowData.length != 0; else tomorrowDataError">
                                    <div class="inplay-sportwise" *ngFor="let tomorrowList of tomorrowData">
                                        <div class="sporthead sporthead0">
                                            <h3>{{tomorrowList.sportName}}</h3>
                                        </div>
                                        <table class="table table-hover">
                                            <app-table-row [tableRowList]="tomorrowList.oddsData" [multiMarketPin]="false" class="d-table w-100"></app-table-row>
                                        </table>
                                    </div>
                                </div>
                                <ng-template #tomorrowDataError>
                                    <div class="p-2">No Data Found.</div>
                                </ng-template>
                            </ng-template>
                        </li>
                    </ul>
                </div>
                <div class="game-menu-tab inplay-match">
                    <div class="row">
                        <div class="col-md-12 mobile-width">
                            <div [ngbNavOutlet]="nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>