<div class="container">
    <div class="animated fadeIn hideevent-search">
        <div class="row">
            <div class="col-md-12 marquee-text">
                <div class="marquee-box">
                    <h4><i class="fa fa-microphone"></i> News </h4>
                    <marquee scrollamount="5">jo v client 2min ya 3 min ke andar khai lagi karta hae to wuska profit
                        ka payment nahi milega </marquee>
                </div>
            </div>
            <div class="col-md-12 mobile-display-view">
                <div class="sport-img mb-21234" style="position: relative;">
                    <app-slider></app-slider>
                </div>
            </div>
            <div class="col-md-12 mobile-display-view">
                <div class="game-highlight-wrap">
                    <h3>Highlights</h3>
                    <div class="game-menu-tab hidden-xs homeevent tab-container">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink>Cricket</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-12 mobile-width">
                                            <table class="table table-hover"
                                                *ngIf="cricketData && cricketData.length != 0; else cricketDataError">
                                                <app-table-row [tableRowList]="cricketData" [multiMarketPin]="true"
                                                    class="d-table w-100"></app-table-row>
                                            </table>
                                            <ng-template #cricketDataError>
                                                <div class="p-2">No Data Found.</div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink>Soccer</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-12 mobile-width">
                                            <table class="table table-hover"
                                                *ngIf="soccerData && soccerData.length != 0; else soccerDataError">
                                                <app-table-row [tableRowList]="soccerData" [multiMarketPin]="true"
                                                    class="d-table w-100"></app-table-row>
                                            </table>
                                            <ng-template #soccerDataError>
                                                <div class="p-2">No Data Found.</div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li [ngbNavItem]="3">
                                <a ngbNavLink>Tennis</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-12 mobile-width">
                                            <table class="table table-hover"
                                                *ngIf="tennisData && tennisData.length != 0; else tennisDataError">
                                                <app-table-row [tableRowList]="tennisData" [multiMarketPin]="true"
                                                    class="d-table w-100"></app-table-row>
                                            </table>
                                            <ng-template #tennisDataError>
                                                <div class="p-2">No Data Found.</div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div class="game-menu-tab inplay-match">
                            <div class="row">
                                <div class="col-md-12 mobile-width">
                                    <div [ngbNavOutlet]="nav"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events-mobile">
                        <div class="row">
                            <div class="col-md-12 mobile-width">
                                <div class="table-responsive tbl-mobile-event">
                                    <table class="table table-hover">
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <a class="match-name"><span>Indian Premier League</span></a>
                                                    <p class="match-time"> 09-04-2021 19:00</p>
                                                </td>
                                                <td>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="/user/fullmarketpage" class="match-name"><span>England
                                                            v India</span></a>
                                                    <p class="match-time"> 02-09-2021 15:30</p>
                                                </td>
                                                <td>
                                                    <span class="game-fancy mr-1">F</span>
                                                    <span class="game-sportbook">S</span>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="match-name"><span>Bangladesh v New Zealand</span></a>


                                                    <p class="match-time"> 05-09-2021 15:30</p>
                                                </td>
                                                <td>
                                                    <span class="game-fancy mr-1">F</span>
                                                    <span class="game-sportbook">S</span>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="match-name">
                                                        <span>
                                                            St Kitts and Nevis Patriots v St Lucia
                                                            Kings
                                                        </span>
                                                    </a>


                                                    <p class="match-time"> 05-09-2021 19:30</p>
                                                </td>
                                                <td>
                                                    <span class="game-fancy mr-1">F</span>
                                                    <span class="game-sportbook">S</span>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="match-name">
                                                        <span>
                                                            Trinbago Knight Riders v Jamaica
                                                            Tallawahs
                                                        </span>
                                                    </a>


                                                    <p class="match-time"> 06-09-2021 00:00</p>
                                                </td>
                                                <td>
                                                    <span class="game-fancy mr-1">F</span>
                                                    <span class="game-sportbook">S</span>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="match-name"><span>Sri Lanka v South Africa</span></a>


                                                    <p class="match-time"> 07-09-2021 14:30</p>
                                                </td>
                                                <td>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a class="match-name"><span>Hampshire v Somerset</span></a>
                                                    <p class="match-time"> 18-09-2021 15:30</p>
                                                </td>
                                                <td>
                                                </td>
                                                <td class="pl-0 v-mid">
                                                    <a class="pin-off-mobile" id="multiMarketPin"
                                                        style="cursor: pointer" title="Add to Multi Markets">Pin</a>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="inner-footer">
                    <div class="support-wrap">
                        <dl class="support-mail">
                            <a class="rules-btn-home">Privacy Policy</a>
                            <a class="rules-btn-home arrow">KYC</a>
                            <a class="rules-btn-home arrow">Terms and Conditions</a>
                            <a class="rules-btn-home arrow">Rules and Regulations</a>
                            <a class="rules-btn-home arrow">Responsible Gambling</a>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="mobile-footer">
                <div class="support-wrap">
                    <dl class="support-mail">
                        <a class="rules-btn-home">Privacy Policy</a>
                        <a class="rules-btn-home arrow">Rules and Regulations</a>
                        <a class="rules-btn-home arrow">KYC</a>
                        <a class="rules-btn-home arrow">Terms and Conditions</a>
                        <a class="rules-btn-home arrow">Responsible Gambling</a>
                    </dl>
                </div>
            </div>;
        </div>
    </div>
</div>