<div class="card mb-0 desktop-stream">
    <!---->
    <!---->
</div>
<div class="">
    <div class="card open-bet mb-0 b-none">
        <div class="card-header card-accrdn openbetlist">
            <strong>Open Bets</strong>
            <button class="close show-xs cls-openbet" type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <!---->
    </div>
    <div class="col-md-12 p-mobile-0 p-0">
        <div class="bet_slip over-wrap racing-tab " id="openBetSlip">
            <!-- <tabset class="matchunmatch-tab tab-container">
                <ul class="nav nav-tabs">
                    
                </ul>
                <div class="tab-content">
                    
                    
                </div>
            </tabset> -->
        </div>
    </div>
</div>