<div class="container">
    <div class="col-md-12 mobile-display-view">
        <div class="sport-img mb-21234" style="position: relative;">
            <app-slider></app-slider>
        </div>
    </div>
    <div class="col-md-12 mobile-display-view">
        <div class="game-highlight-wrap">
            <h3>Highlights</h3>
            <div class="tab-content">
                <div class="game-menu-tab hidden-xs homeevent tab-container">
                    <div class="row">
                        <div class="col-md-12 mobile-width">
                            <table class="table table-hover" *ngIf="eventList && eventList.length != 0; else eventListError">
                                <app-table-row [tableRowList]="eventList" [multiMarketPin]="true" class="d-table w-100"></app-table-row>
                            </table>
                            <ng-template #eventListError><div class="p-2">No Data Found.</div></ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>