<div class="app-header navbar">
    <button appsidebartoggler="" class="navbar-toggler d-lg-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button><a class="navbar-brand" [routerLink]="['/home']">
        <div class="navbar-brand-full">🅲 CoreUI</div>
        <div class="navbar-brand-minimized">🅲</div>
    </a>
    <button class="navbar-toggler d-md-down-none" type="button"><span class="navbar-toggler-icon"></span></button>
    <div class="welcome-text ">
        <a class="logo-home" [routerLink]="['/home']">
            <img class="logo-main" id="logoMain" src="./assets/img/64rb444.png">
        </a>
    </div>
    <div class="welcome-text mobile-after-login ">
        <a class="logo-home" [routerLink]="['/home']">
            <img class="logo-main" id="logoMain" src="./assets/img/64rb444.png">
        </a>
    </div>
    <div class="search-top">
        <div class="input-group">
        </div>
    </div>
    <div class="nav navbar-nav ml-auto p-rltv">
        <form action="/Account/Login?ReturnUrl=%2Fuser%2Fcricket" class="top-form hidden-xs headerfrm" method="post"
            role="form"><input name="__RequestVerificationToken" type="hidden"
                value="5HDJncMhmrSLOOCa6mC6p4sWWqonIJg2rAtpdS4iy8E-gaOB-lE6DUL3PI_w8lntqUMhG8O5V8oRhpZ-5wZ_K9yZ2PBxPp7V76sdS-r9fqM1" />
            <div class="form-group mb-0 ">
                <input class="form-control uname" data-val="true"
                    data-val-email="The Email field is not a valid e-mail address."
                    data-val-required="The Email field is required." id="Email" name="Email" placeholder="Username"
                    type="text" value="" />
            </div>
            <div class="form-group mb-0 hidden-xs">
                <input class="form-control pass " data-val="true" data-val-required="The Password field is required."
                    id="Password" name="Password" placeholder="Password" type="password" />
            </div>
            <button class="btn btn-orange pull-right mr-2" style="height: 30px;" type="button"> Login <i
                    class="fa fa-sign-in"></i></button>
            <span class="err-invalid" style="display: block;"></span>
        </form> <button class="btn visible-mob btn-orange pull-right mr-2 menutext showPopup"
            style=" margin-right: 24px !important;" type="button">
            Login <i class="fa fa-sign-in"></i>
        </button>
    </div>

    <div class="menu-wrap">
        <div class="full-wrap">
            <ul class="tab-menu pull-left">
                <li class="ver-menu"><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
                <li class="ver-menu"><a [routerLink]="['/inplay']" routerLinkActive="active">In-Play</a></li>
                <!-- <li class="ver-menu"><a href="/user/MultiMarkets">Multi Markets</a></li> -->
                <ng-container *ngIf="pageMenu.length > 0">
                    <li class="ver-menu" *ngFor="let menu of pageMenu">
                        <a [routerLink]="['/allsport-highlight', menu.sportId]" routerLinkActive="active" (click)="changeSidebarList(menu.sportId);"> {{menu.sportName}} </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>