﻿@{
    ViewData["Title"] = "MarketWatch";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*<link href="~/js/DataTable/datatables.bundle.css" rel="stylesheet" type="text/css" />*@

<div class="card card-custom">
    <div class="card-header flex-wrap py-5">
        <div class="card-title">
            <h3 class="card-label">
                @*Paginations
                    <span class="d-block text-muted pt-2 font-size-sm">extended pagination options</span>*@
            </h3>
        </div>
        <div class="card-toolbar">
            <div class="dropdown dropdown-inline mr-2">
                <label>Sport Name</label>
                <select id="sportName" name="sportName" class="form-control">
                    <option value="0">Select Sport Name</option>
                    <option value="4" selected="selected">Cricket</option>
                    <option value="2">Tennis</option>
                    <option value="1">Soccer</option>
                </select>
            </div>
            <!--begin::Dropdown-->
            <div class="dropdown dropdown-inline mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3" />
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000" />
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Export
                </button>
                <!--begin::Dropdown Menu-->
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <!--begin::Navigation-->
                    <ul class="navi flex-column navi-hover py-2">
                        <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-print"></i>
                                </span>
                                <span class="navi-text">Print</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-copy"></i>
                                </span>
                                <span class="navi-text">Copy</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-excel-o"></i>
                                </span>
                                <span class="navi-text">Excel</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-text-o"></i>
                                </span>
                                <span class="navi-text">CSV</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a href="#" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-pdf-o"></i>
                                </span>
                                <span class="navi-text">PDF</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
                <!--end::Dropdown Menu-->
            </div>
            <!--end::Dropdown-->
            <!--begin::Button-->
            <!--<a href="#" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">-->
            <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
            <!--<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <circle fill="#000000" cx="9" cy="15" r="6" />
                    <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                </g>
            </svg>-->
            <!--end::Svg Icon-->
            <!--</span>New Record
            </a>-->
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-striped table-hover table-bordered table-head-custom" id="kt_datatable">
            <thead style="background-color: #1e1e2d;">
                <tr>
                    <th>
                        Match Name
                    </th>
                    <th width="6%">

                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @*@if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {*@
                <tr>
                    <td>
                        <a href="~/MarketWatch/TeamMarketWatch?SportId=4">
                            Twenty20 Big Bash - Winner
                        </a>
                    </td>
                    <td style="text-align:right;color:white;"><button type="button" style="background-color: #6593db; border-color: #6593db; ">BetList</button></td>
                    <td>05-12-2021 19:00</td>
                    <td>
                        <a href="javascript:;">
                            <i class="fa fa-eye fa-lg showModel"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="~/MarketWatch/TeamMarketWatch?SportId=4">
                            South Africa v India
                        </a>
                    </td>
                    <td style="text-align:right;color:white;"><button type="button" style="background-color: #6593db; border-color: #6593db; ">BetList</button></td>
                    <td>03-01-2022 13:30</td>
                    <td>
                        <a href="javascript:;">
                            <i class="fa fa-eye fa-lg showModel"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="~/MarketWatch/TeamMarketWatch?SportId=4">
                            Brisbane Heat v Sydney Sixers
                        </a>
                    </td>
                    <td style="text-align:right;color:white;"><button type="button" style="background-color: #6593db; border-color: #6593db; ">BetList</button></td>
                    <td>04-01-2022 13:45</td>
                    <td>
                        <a href="javascript:;">
                            <i class="fa fa-eye fa-lg showModel"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="~/MarketWatch/TeamMarketWatch?SportId=4">
                            Australia v England
                        </a>
                    </td>
                    <td style="text-align:right;color:white;"><button type="button" style="background-color: #6593db; border-color: #6593db; ">BetList</button></td>
                    <td>05-01-2022 05:00</td>
                    <td>
                        <a href="javascript:;">
                            <i class="fa fa-eye fa-lg showModel"></i>
                        </a>
                    </td>
                </tr>
                @*}
                    }*@
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" id="marketPositionModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Market Position</h4>
                <button type="button" class="close hideModel">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="view-rolling row">
                        <label class="col-md-12 col-3 col-form-label">Match odds</label>
                        @{
                            int team1 = -2800;
                            int team2 = 461;
                            int team3 = 600;
                            if (team1 < 0)
                            {
                                <div class="col-md-4 col-8 col-form-label"><span> <b>West Indies:</b><b style="color:red;">@team1</b>, </span></div>
                            }
                            else
                            {
                                <div class="col-md-4 col-8 col-form-label"><span> <b>West Indies:</b><b style="color:green;">@team1</b>, </span></div>
                            }

                            if (team2 < 0)
                            {
                                <div class="col-md-4 col-8 col-form-label"><span> <b>India:</b><b style="color:red;">@team2</b>, </span></div>
                            }
                            else
                            {
                                <div class="col-md-4 col-8 col-form-label"><span> <b>India:</b><b style="color:green;">@team2</b>, </span></div>
                            }

                            if (team3 < 0)
                            {
                                <div class="col-md-4 col-8 col-form-label"><span> <b>The Draw:</b><b style="color:red;">@team3</b> </span></div>
                            }
                            else
                            {
                                <div class="col-md-4 col-8 col-form-label"><span> <b>The Draw:</b><b style="color:green;">@team3</b> </span></div>
                            }
                        }
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" id="btnHideModal" class="btn btn-danger hideModel">
                        Close
                    </button>
                </div>*@
        </div>
    </div>
</div>

@section scripts{
    @*<script src="~/js/DataTable/datatables.bundle.js"></script>
    <script src="~/js/DataTable/paginations.min.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".showModel").click(function () {
                $("#marketPositionModal").modal('show');
            });

            $(".hideModel").click(function () {
                $("#marketPositionModal").modal('hide');
            });
        });
    </script>
}