@*@model RB444.Data.Entities.SportsSetting;
@{
    ViewData["Title"] = "CreateSports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Create Sports</h2>
<form id="request-form" autocomplete="off" class="" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="errorTxt">@TempData["ErrorMsg"]</div>
        <div class="form-group align-items-center d-flex">
            <label class="control-label col-md-2" asp-for="SportName">Sport Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="SportName" placeholder="Sport Name">
            </div>
        </div>

        <div class="form-group align-items-center d-flex">
            <label class="control-label col-md-2" asp-for="MinOddLimit">Min Odd Limit</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="MinOddLimit" placeholder="MinOddLimit">
            </div>

        </div>

        <div class="form-group align-items-center d-flex">
            <label class="control-label col-md-2" asp-for="MaxOddLimit">Max Odd Limit</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="MaxOddLimit" placeholder="Max Odd Limit">
            </div>
        </div>


        <div class="form-group align-items-center d-flex">
            <label class="control-label col-md-2" asp-for="Status">Status</label>
            <div class="col-md-10">
                <input type="checkbox" asp-for="Status" />
                <label asp-for="Status">Status</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary font-weight-bold" />
            </div>
        </div>
    </div>
</form>
<div>
    @Html.ActionLink("Back to List", "SportsSetting")
</div>*@
