﻿
@{
    ViewBag.Title = "SportsSetting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Sports Settings</h2>
    @*<div class="p-4">
            <a href="~/Setting/CreateSports" class="btn btn-primary btn-sm"> Manual Sport</a>
        </div>*@
    <table class="sportesTbl table table-striped table-dark">
        <thead>
            <tr>
                <th>S NO.</th>
                <th>Sport Id</th>
                <th>SPORT</th>
                <th>SETTING</th>
                <th>ACTION</th>
                <th>Sequence</th>
                <th>Highlight</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.SportsList != null)
            {
                int i = 1;
                foreach (var item in ViewBag.SportsList)
                {
                    <tr>
                        <td scope="row">@i</td>
                        <td scope="row">@item.Id</td>
                        <td>@item.SportName</td>
                        <td>
                            <button id="btnShowModal_@i" type="button"
                                    class="btn btn-primary btn-sm showModel">
                                Setting
                            </button>

                            <div class="modal fade" tabindex="-1" id="settingModal_@i"
                                 data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Sport Setting</h4>
                                            <button type="button" class="close" data-dismiss="modal">
                                                ×
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Min Odd Limit</label>
                                                <input class="form-control" type="number"
                                                       placeholder="Login Username" id="text_minOdd_@i" value="@item.MinOddLimit" />
                                            </div>
                                            <div class="form-group">
                                                <label>Max Odd Limit</label>
                                                <input class="form-control" placeholder="Login Password"
                                                       type="number" id="text_maxOdd_@i" value="@item.MaxOddLimit" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" id="submitBtn_@i" class="btn btn-primary submitBtn">Submit</button>
                                            <button type="button" id="btnHideModal_@i" class="btn btn-danger hideModel">
                                                close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a data-value="@i"
                               href="javascript:void(0)" class="btnEdit">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="switch switch-success">
                                            <label>
                                                <input type="checkbox" checked="@item.Status" name="select" id="checkBoxAction" />
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </td>
                        <td>@item.Sequence</td>
                        <td>
                            <a data-value="@i"
                               href="javascript:void(0)" class="btnEdit">
                                <div class="row">
                                    <div class="col-3">
                                        <span class="switch switch-success">
                                            <label>
                                                <input type="checkbox" checked="@item.Highlight" name="select" id="checkBoxAction" />
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
@section PageJs{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".showModel").click(function () {
                var id = $(this).attr("id").split("_")[1];
                $("#settingModal_" + id).removeClass("fade");
                $("#settingModal_" + id).modal('show');
            });

            $(".hideModel").click(function () {
                var id = $(this).attr("id").split("_")[1];
                $("#settingModal_" + id).addClass("fade");
                $("#settingModal_" + id).modal('hide');
            });
            $(".btnEdit").change(function () {
                const idRow = $(this).parents().eq(3).attr("id").split("_")[1];
                var id = $(this).attr("data-value");
                var checkedid = $(this).find("input");
                var data = {
                    Id: idRow,
                    Min_odd_limit: minOddLimit,
                    Max_odd_limit: maxOddLimit,
                    Action: checkedid.is(":checked")
                };
                $.ajax({
                    type: "POST",
                    url: "/Home/SportsSettings",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        if (response.Updated) {
                            window.location.href = response.Url;
                        }
                        else {
                            alert("Error occured!!")
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });
                //if (checkedid.is(":checked")) {
                //    console.log("true");
                //}
                //else {
                //    console.log("false");
                //}

            });

            $(".submitBtn").click(function () {
                const id = $(this).parents().eq(3).attr("id").split("_")[1];
                const minOddLimit = $("#text_minOdd_" + id).val();
                const maxOddLimit = $("#text_maxOdd_" + id).val();
                const action = document.getElementById("checkBoxAction_" + id).checked;
                var data = {
                    Id: id,
                    Min_odd_limit: minOddLimit,
                    Max_odd_limit: maxOddLimit,
                    Action: action
                };
                $.ajax({
                    type: "POST",
                    url: "/Home/SportsSettings",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        if (response.Updated) {
                            window.location.href = response.Url;
                        }
                        else {
                            alert("Error occured!!")
                        }
                    },
                    error: function () {
                        alert("Error occured!!")
                    }
                });
            });
        });
    </script>
}