
@{
    ViewData["Title"] = "SaveLogoImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Save Logo Images</h2>
<form id="request-form" autocomplete="off" class="" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="errorTxt">@TempData["ErrorMsg"]</div>
        <div class="form-group">
            <label class="control-label col-md-2" style="color:black !important;">Select Image</label>
            <div class="col-md-10">
                <input type="file" id="file" name="file" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-primary font-weight-bold" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "LogoImages")
</div>


