@model IEnumerable<RB444.Data.Entities.Slider>
@{
    ViewData["Title"] = "SliderImages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2>Slider Images</h2>
    <div class="row p-4">
        <a href="~/OtherSetting/SaveSliderImages" class="btn btn-primary btn-sm w-auto">Save Slider Images</a>
    </div>
    <table class="sportesTbl table table-striped table-dark">
        <thead>
            <tr>
                <th>S NO.</th>
                <th>Image</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i = 1;
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@i</th>
                        <td><img style="height:50px; width:100px;" src="../@item.FilePath" /></td>
                        <td>
                            @if (item.Status == true)
                            {
                                <span>Active</span>
                                @*<a href="@Url.Action("ChangeSts","Home",new { id=item.Id})">Deactived</a>*@
                            }
                            else
                            {
                                <span>Deactived</span>
                                @*<a href="@Url.Action("ChangeSts","Home",new { id=item.Id})">Active</a>*@
                            }
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".showModel").click(function () {
            var id = $(this).attr("id").split("_")[1];
            $("#settingModal_" + id).removeClass("fade");
            $("#settingModal_" + id).modal('show');
        });

        $(".hideModel").click(function () {
            var id = $(this).attr("id").split("_")[1];
            $("#settingModal_" + id).addClass("fade");
            $("#settingModal_" + id).modal('hide');
        });
        $(".btnEdit").click(function () {
            var id = $(this).attr("data-value");
            var checkedid = $(this).find("input");
            console.log(checkedid);
            if (checkedid.is(":checked")) {
                console.log("true");
            }
            else {
                console.log("false");
            }

        });

        $(".submitBtn").click(function () {
            const id = $(this).parents().eq(3).attr("id").split("_")[1];
            const minOddLimit = $("#text_minOdd_" + id).val();
            const maxOddLimit = $("#text_maxOdd_" + id).val();
            var data = {
                Id: id,
                Min_odd_limit: minOddLimit,
                Max_odd_limit: maxOddLimit
            };
            $.ajax({
                type: "POST",
                url: "/Home/SportsSettings",
                data: JSON.stringify(data),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.Updated) {
                        window.location.href = response.Url;
                    }
                    else {
                        alert("Error occured!!")
                    }
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        });
    });
</script>



